In [3]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in c:\users\patat\appdata\local\programs\python\python39\lib\site-packages (1.3.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\patat\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\patat\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\patat\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\patat\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [1]:
import numpy as np
import pandas as pd

# SERIES

In [2]:
my_dict={"normal ekmek":1,"kepek ekmek":1.25,"çavdar ekmeği":2.50,"birim":"tl"}

In [3]:
pd.Series(my_dict)

normal ekmek        1
kepek ekmek      1.25
çavdar ekmeği     2.5
birim              tl
dtype: object

In [4]:
type(pd.Series(my_dict))

pandas.core.series.Series

In [5]:
my_age_list=[13,20,43,45]
my_name_list=["yusuf","ali","hatice","tayfur"]

İKİ VEYA DAHA FAZLA LİSTEYİ SERİ YAPMAK İÇİN İNDEX GİBİ YAZARIZ.

In [6]:
pd.Series(my_age_list,my_name_list)

yusuf     13
ali       20
hatice    43
tayfur    45
dtype: int64

VEYA data=VERİ , index=İNDEX

In [7]:
pd.Series(data=my_age_list,index=my_name_list)

yusuf     13
ali       20
hatice    43
tayfur    45
dtype: int64

In [8]:
np_array=np.array(my_age_list)

In [12]:
np_array.shape

(4,)

In [15]:
pd.Series(np_array)

0    13
1    20
2    43
3    45
dtype: int32

In [16]:
pd.Series(np_array,my_name_list)

yusuf     13
ali       20
hatice    43
tayfur    45
dtype: int32

6.3

In [17]:
pd.Series(["ahmet","mehmet","necmi"],[1,2,3])

1     ahmet
2    mehmet
3     necmi
dtype: object

AYNI İNDEXLERE SAHİP FARKLI İKİ SERİYİ TOPLAMA

In [18]:
competition_1_result=pd.Series([9,7,4],["ahmet","mehmet","necmi"])

In [19]:
competition_2_result=pd.Series([3,6,8],["ahmet","mehmet","necmi"])

In [20]:
result=competition_1_result+competition_2_result
result

ahmet     12
mehmet    13
necmi     12
dtype: int64

In [21]:
type(result)

pandas.core.series.Series

In [22]:
result[1]

13

FARKLI İNDEXLERE SAHİP FARKLI İKİ SERİYİ TOPLAMA

In [23]:
series1=pd.Series([1,2,3,4,5],["a","b","c","d","e"])
series2=pd.Series([1,2,3,4,5],["a","c","b","d","g"])

ORTAK OALNLARI TOPLADI OLMAYANLARI NaN GÖSTERDİ

In [32]:
result_series=series1+series2
result_series

a    2.0
b    5.0
c    5.0
d    8.0
e    NaN
g    NaN
dtype: float64

In [25]:
for i in range(len(result_series)):
    print(i)

0
1
2
3
4
5

In [47]:
for x in range(len(result_series)):
    if (result_series[x]=="NaN"):
        print(f"value. Index : {x}")