In [1]:
import pandas as pd
import numpy as np

In [2]:
names=["boggie","wonderlad","memti","plat"]

In [6]:
df=pd.DataFrame(names,columns=["Names"])

In [7]:
df

       Names
0     boggie
1  wonderlad
2      memti
3       plat